{
  "env": {
    "browser": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": ["prettier"],
  "parser": "babel-eslint",
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "no-await-in-loop": "warn",
    "no-prototype-builtins": "warn"
  }
}
